# Node
node_modules/
dist/
.nyc_output/
coverage/

# Nuxt
.nuxt/
.output/
.env
.env.*.local

# OS
.DS_Store

# Logs
*.log

# Playwright / Vitest
test-results/
.vitest/

# IDEs
.vscode/
.idea/
*.swp

# Archivos Locales
estructura.txt